<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Styles.css" />
    <link rel="stylesheet" href="/MyStyles.css" />
</head>
<body style="background-color:#b1e7d5">
    <header>

    </header>
    <section>
        @RenderBody()
    </section>
    <footer>

    </footer>
</body>
</html>
